{{define "login"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Kodinger">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>My Login Page</title>
    <link rel="stylesheet" href="../static/js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center; /* 新增：垂直居中对齐 */
            min-height: 100vh; /* 新增：确保容器至少占满整个视口高度 */
        }
        .card-wrapper {
            width: 100%;
            max-width: 400px; /* 设置最大宽度 */
        }
    </style>
</head>

<body class="my-login-page bg-gradient-to-r from-blue-200 to-pink-200 font-sans">
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="../static/img/logo.jpg" alt="logo">
                </div>
                <div class="card fat ">
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <form id="loginForm" class="my-login-validation" novalidate="">
                            {{.Csrf}}
                            <div class="form-group">
                                <label for="email">E-Mail Address</label>
                                <input id="email" type="email" class="form-control" name="email" value="" required autofocus>
                                <div class="invalid-feedback">
                                    Email is invalid
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password">Password
                                    <a href="forgot.html" class="float-right">
                                        Forgot Password?
                                    </a>
                                </label>
                                <input id="password" type="password" class="form-control" name="password" required data-eye>
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="custom-checkbox custom-control">
                                    <input type="checkbox" name="remember" id="remember" class="custom-control-input">
                                    <label for="remember" class="custom-control-label">Remember Me</label>
                                </div>
                            </div>

                            <div class="form-group m-0">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Login
                                </button>
                            </div>
                            <div class="mt-4 text-center">
                                Don't have an account? <a href="/register">Create One</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer">
                    Copyright &copy; 2017 &mdash; Your Company
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="../static/js/bootstrap/js/bootstrap.min.js"></script>
<!--<script src="../static/js/login.js"></script>-->
<script>
    /******************************************
     * My Login
     *
     * Bootstrap 4 Login Page
     *
     * @author          Muhamad Nauval Azhar
     * @uri            https://nauval.in
     * @copyright       Copyright (c) 2018 Muhamad Nauval Azhar
     * @license         My Login is licensed under the MIT license.
     * @github          https://github.com/nauvalazhar/my-login
     * @version         1.2.0
     *
     * Help me to keep this project alive
     * https://www.buymeacoffee.com/mhdnauvalazhar
     *
     ******************************************/

    'use strict';

    $(function () {

        // author badge :)
        var author = '<div style="position: fixed;bottom: 0;right: 20px;background-color: #fff;box-shadow: 0 4px 8px rgba(0,0,0,.05);border-radius: 3px 3px 0 0;font-size: 12px;padding: 5px 10px;">By <a href="https://twitter.com/mhdnauvalazhar">@mhdnauvalazhar</a> &nbsp;&bull;&nbsp; <a href="https://www.buymeacoffee.com/mhdnauvalazhar">Buy me a Coffee</a></div>';
        $("body").append(author);

        $("input[type='password'][data-eye]").each(function (i) {
            var $this = $(this),
                id = 'eye-password-' + i,
                el = $('#' + id);

            $this.wrap($("<div/>", {
                style: 'position:relative',
                id: id
            }));

            $this.css({
                paddingRight: 60
            });
            $this.after($("<div/>", {
                html: 'Show',
                class: 'btn btn-primary btn-sm',
                id: 'passeye-toggle-' + i,
            }).css({
                position: 'absolute',
                right: 10,
                top: ($this.outerHeight() / 2) - 12,
                padding: '2px 7px',
                fontSize: 12,
                cursor: 'pointer',
            }));

            $this.after($("<input/>", {
                type: 'hidden',
                id: 'passeye-' + i
            }));

            var invalid_feedback = $this.parent().parent().find('.invalid-feedback');

            if (invalid_feedback.length) {
                $this.after(invalid_feedback.clone());
            }

            $this.on("keyup paste", function () {
                $("#passeye-" + i).val($(this).val());
            });
            $("#passeye-toggle-" + i).on("click", function () {
                if ($this.hasClass("show")) {
                    $this.attr('type', 'password');
                    $this.removeClass("show");
                    $(this).removeClass("btn-outline-primary");
                } else {
                    $this.attr('type', 'text');
                    $this.val($("#passeye-" + i).val());
                    $this.addClass("show");
                    $(this).addClass("btn-outline-primary");
                }
            });
        });

        $('#loginForm').submit('submit', function (e) {
            e.preventDefault()

            var formData = $(this).serialize()
            console.log(formData)
            fetch('/auth/login', {
                method: 'POST',
                body: formData, // formData 是一个 URLSearchParams 对象或 FormData 对象
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded' // 如果是 URLSearchParams
                    // 如果是 FormData，通常不需要手动设置 Content-Type
                }
            })
                .then(response => response.json())
                .then(data => {
                    if(data.code === 200) {
                        localStorage.setItem("uid", data.data.content)
                        location.href = "/article/list?page=1&limit=6"
                    } else {
                        alert(data.msg)
                    }
                })
        })
    });
</script>
</body>
</html>
{{end}}
